body {
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.container {
  position: relative;
  display: flex;
  width: 100vw;
}

.player {
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.logo {
  position: fixed;
  top: 6%;
  left: 5%;
  z-index: 1000;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1000;
  position: fixed;
  top: 7%;
  right: 7%;
  font-size: 18px;
  padding: 10px 0px 10px 20px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

select:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1);
}

select::after {
  z-index: 1000;
  position: fixed;
  content: "";
  top: 10%;
  right: 10%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.track-info {
  position: absolute;
  top: 38%;
  left: 8%;
  right: 4%;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

h1:hover {
  opacity: 1;
}

.link {
  position: fixed;
  bottom: 10%;
  right: 8%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  z-index: 1000;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 10%;
  left: 6%;
  z-index: 1000;
}

.play {
  background: url(../images/play-button.svg);
}

.pause {
  background: url(../images/pause-button.svg);
}

.next {
  background: url(../images/fast-forward-arrows.svg);
}

.play,
.pause,
.next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 18px 36px;
  outline: none !important;
  margin: 0 10px 0 20px;
  transition: 0.3s ease-in-out;
}

.play:hover,
.pause:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
